---
import CopyButton from "@/components/copy-button.astro";
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import Link from "@/components/link.astro";
import HtmlLayout from "@/layouts/html-layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import {
  Ban,
  Code2,
  Mail,
  Megaphone,
  Music,
  Paintbrush,
  PartyPopper,
  Pencil,
  PencilRuler,
  PlusCircle,
  ScrollText,
} from "lucide-astro";

const aboutList = [
  {
    heading: "Game jams",
    text: "We organize two 24-hour school-wide game jams each semester. Anyone is welcome to participate.",
  },
  {
    heading: "Workshops",
    text: "For anyone new to game dev or looking to refine their skills, we host hands-on learning activities.",
  },
  {
    heading: "Speaker events",
    text: "We regularly invite alumni and key industry figures to come and talk about their experiences.",
  },
  {
    heading: "Trips",
    text: "As an officially recognized school club, we receive funding for trips to conferences like PAX East!",
  },
];

const board = await getCollection("board");
const updates = await getCollection("updates");

updates.sort((a, b) => b.data.dateTime.getTime() - a.data.dateTime.getTime());
const { Content } = await updates[0].render();
---

<HtmlLayout
  description="We are University of Pennsylvania's game development club. We make games, but also connect students to the game industry through game jams, speaker events, workshops, and more! All Penn students are free to join."
>
  <Header />

  <main class="mx-auto max-w-content space-y-12 px-4 pb-16 pt-32 sm:pt-24 lg:space-y-20 lg:pt-28">
    <div class="space-y-5 text-xl md:space-y-8 lg:text-2xl">
      <h2
        class="mr-0 text-center text-[clamp(2rem,4.5vw,3.75rem)] font-medium leading-none sm:mr-[15%] sm:text-left"
      >
        Hey there! We are UPGRADE, UPenn's <b>game development club</b>
      </h2>
      <p class="text-center sm:text-left">
        We meet <span class="font-bold">every Saturday</span> from <span
          class="font-bold"
          aria-label="4 to 7 PM"
          >4—7 PM</span
        > in <span class="font-bold">Levine 307.</span>
      </p>
    </div>

    <section class="space-y-5">
      <div
        class="flex flex-col items-center justify-between gap-2 rounded-3xl bg-up-5 p-4 md:flex-row lg:gap-56"
      >
        <div
          class="order-2 flex w-full items-center justify-between gap-2 overflow-x-auto rounded-xl bg-up-6 p-3 md:order-1 md:w-1/2 lg:w-5/12"
        >
          <h2>
            <Link
              href="https://discord.gg/vrhDM7NHph"
              target="_blank"
              className="mx-2 font-mono hover:text-up-2 md:mx-4"
            >
              discord.gg/vrhDM7NHph
            </Link>
          </h2>

          <CopyButton text="https://discord.gg/vrhDM7NHph" />
        </div>
        <p
          class="order-1 mr-1.5 text-center font-medium md:order-2 md:w-1/2 md:text-right md:text-xl"
        >
          Join our Discord to get the latest updates, announcements, and events!
        </p>
      </div>

      <div class="flex flex-col md:flex-row">
        <h2
          class="flex flex-row items-center justify-center gap-2.5 rounded-t-3xl bg-up-5/50 p-4 text-xl font-medium sm:justify-start md:w-1/3 md:rounded-l-3xl md:rounded-tr-none"
        >
          <Megaphone
            aria-hidden="true"
            class="shrink-0 stroke-up-2"
          />
          Latest update
        </h2>
        <div
          class="space-y-[1em] text-pretty rounded-b-3xl bg-up-6 p-4 md:w-2/3 md:rounded-r-3xl md:rounded-bl-none"
        >
          <Content />
        </div>
      </div>
    </section>

    <section
      id="about"
      class="flex scroll-mt-32 flex-col space-y-10 sm:scroll-mt-24 lg:flex-row lg:gap-10 lg:space-y-5"
    >
      <div class="space-y-3 lg:w-5/12">
        <h2 class="text-center text-3xl font-medium sm:text-left">What do we do?</h2>
        <p class="text-pretty text-center sm:text-left">
          Surprise surprise, we develop games. Beyond that though, we also provide Penn students the
          resources to foster their passion and creativity.
        </p>
      </div>
      <div class="grid grid-cols-1 grid-rows-2 gap-x-6 gap-y-10 sm:grid-cols-2 lg:w-7/12">
        {
          aboutList.map(({ heading, text }, index) => (
            <div class="relative space-y-1.5 rounded-3xl bg-up-6 p-5 pt-8">
              <div class="absolute -top-4 flex size-10 items-center justify-center bg-up-5 font-bold">
                {index + 1}
              </div>
              <h3 class="text-xl font-medium">{heading}</h3>
              <p>{text}</p>
            </div>
          ))
        }
      </div>
    </section>

    <section class="space-y-5">
      <h2 class="text-center text-3xl font-medium sm:text-left">
        Application process? What's that?
      </h2>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <p class="order-1 text-pretty rounded-3xl text-center sm:bg-up-5 sm:p-4 sm:text-left">
          We welcome anyone who is interested in any aspect of game development. That means artists,
          designers, programmers, writers, musicians, etc.
        </p>
        <div
          aria-hidden="true"
          class="order-2 flex items-center justify-center gap-2 rounded-3xl bg-up-6 p-4"
        >
          <Paintbrush />
          <PencilRuler />
          <Code2 />
          <Pencil />
          <Music />
          <PlusCircle />
        </div>
        <div
          aria-hidden="true"
          class="order-4 flex items-center justify-center gap-2 rounded-3xl bg-up-6 p-4 sm:order-3"
        >
          <Ban />
          <ScrollText />
          <PartyPopper />
        </div>
        <p
          class="order-3 text-pretty rounded-3xl text-center sm:order-4 sm:bg-up-5 sm:p-4 sm:text-left"
        >
          Unlike many Penn clubs, we don't have applications. Just show up to any of our weekly
          meetings to get started! (And join the Discord.)
        </p>
      </div>
    </section>

    <section
      id="board"
      class="scroll-mt-32 space-y-5 sm:scroll-mt-24"
    >
      <div class="space-y-3">
        <h2 class="text-center text-3xl font-medium sm:text-left">Meet the board</h2>
        <p class="text-pretty text-center sm:text-left">
          For inquiries about the club, please contact us through our club email below.
        </p>
      </div>

      <div
        class="grid grid-cols-2 gap-5 sm:grid-cols-3 sm:gap-x-2 sm:gap-y-7 lg:grid-cols-5 lg:gap-10"
      >
        {
          board.map(({ data: { src, name, role, email } }) => {
            const [first, last] = name.split(" ");
            const initials = `${first.charAt(0)}${last.charAt(0)}`;

            return (
              <div class="flex flex-col items-center justify-center gap-4">
                {src ? (
                  <Image
                    src={import(`../assets/board/${src}.jpg`)}
                    alt={`Photograph of ${name}`}
                    class="size-36 rounded-full bg-up-5"
                  >
                    {initials}
                  </Image>
                ) : (
                  <div class="flex size-36 items-center justify-center rounded-full bg-up-5 text-3xl font-bold">
                    {initials}
                  </div>
                )}
                <div class="flex flex-col items-center justify-center">
                  <h3 class="text-lg font-bold">{name}</h3>
                  <p class="text-center">{role}</p>
                  <Link
                    href={`mailto:${email}`}
                    className="text-up-2 flex items-center"
                  >
                    <Mail
                      class="mr-1.5"
                      size={15}
                    />{" "}
                    Contact
                  </Link>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </main>

  <Footer />
</HtmlLayout>
