---
import "@/styles/base.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/500.css";
import "@fontsource/barlow/700.css";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  description: string;
}

const { title, description } = Astro.props;

/**
 * @see https://github.com/withastro/astro/issues/5248
 */
const removeTrailingSlash = (str: string) => {
  return str.replace(/\/+$/, "");
};

const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());
const finalTitle = (title ? `${title} ✦ ` : "") + "UPGRADE";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="color-scheme" content="dark light" />

    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta property="og:site_name" content="UPGRADE" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={finalTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://pennupgrade.com/og.png" />

    <meta property="twitter:image" content="https://pennupgrade.com/og.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={finalTitle} />
    <meta property="twitter:description" content={description} />

    <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />
    <link rel="icon" href="/favicon.ico" />

    <title>{finalTitle}</title>

    <ViewTransitions fallback="none" />
    <SpeedInsights />
  </head>

  <body class="bg-up-7 text-up-1">
    <slot />
  </body>
</html>
