---
import "@/styles/base.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/500.css";
import "@fontsource/barlow/700.css";

import logoMdLight from "@/assets/logo/md/logo-md-light.png";
import Link from "@/components/link.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

/**
 * @see https://github.com/withastro/astro/issues/5248
 */
const removeTrailingSlash = (str: string) => {
  return str.replace(/\/+$/, "");
};

const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());
---

<!doctype html>
<html
  lang="en"
  class="text-[16px]"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <link
      rel="canonical"
      href={canonicalUrl}
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />

    <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/favicon.png"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />

    <title>{title}</title>
  </head>

  <body class="bg-up-7 text-up-1">
    <header class="fixed inset-x-0 top-0 bg-up-6">
      <nav class="mx-auto flex max-w-content items-center justify-between p-4">
        <a href="/">
          <Image
            src={logoMdLight}
            alt="UPGRADE logo"
            width={200}
          />
        </a>

        <div class="flex items-center gap-6">
          <Link
            href="/#about"
            className="hover:text-up-2"
          >
            about
          </Link>
          <Link
            href="/#games"
            className="hover:text-up-2"
          >
            games
          </Link>
          <Link
            href="/#board"
            className="hover:text-up-2"
          >
            board
          </Link>
          <Link
            href="/#contact"
            className="hover:text-up-2"
          >
            contact
          </Link>
        </div>
      </nav>
    </header>
    <slot />
  </body>
</html>
